# Dependencies
/node_modules
/.pnp
.pnp.js

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Testing
/coverage

# Build output
/build
/dist

# Vite cache
.vite/

# Environment overrides
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editors
/.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# ESLint cache
.eslintcache